

  .nav-item{
      padding: .5em;
  }
  #spanli{
    display: inline;
    padding-top: 1em;
  }
  #imageli{
      display: inline;
      padding-left: 1em;
padding-top: 1em;
  }

  #manual{
      display: inline;
  }


  #navBar{
      background-color: rgb(56, 72, 99);
  }
  li {

    color: white;
    font-size: .875em;
  }
 
  #gc {
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
}
#mscore{
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
}
#TFscore{
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
}
#score{
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
}
#tscore{
    font-family: "Arial Black", Gadget, sans-serif;
    border: 1.2px solid #1D2532;
    color: white;
    box-shadow: 1px 0px 2px rgb(11, 16, 75);
}
#gencount{
    font-family: "Arial Black", Gadget, sans-serif;
    border: 1.2px solid #1D2532;
    color: white;
    box-shadow: 1px 0px 2px rgb(11, 16, 75);
}
#playerscore{
    font-family: "Arial Black", Gadget, sans-serif;
    border: 1.2px solid #1D2532;
    color: white;
    box-shadow: 1px 0px 2px rgb(11, 16, 75);
}
#playermax{
    font-family: "Arial Black", Gadget, sans-serif;
    border: 1.2px solid #1D2532;
    color: white;
    box-shadow: 1px 0px 2px rgb(11, 16, 75);
}
#stoptraining{
    background-color: rgb(56, 72, 99); 
    color: white;
   
}
#dropdownMenu2 {
    background-color: rgb(56, 72, 99); 
    color: white;
  padding-left: 0%;
  padding-right: 0%;

}

#startraining {
    background-color: rgb(56, 72, 99); 
    color: white;
 
}
#startrainingdff {
    background-color: rgb(56, 72, 99); 
    color: white;
 
}
#best{
    background-color: rgb(56, 72, 99); 
    color: white;
 
}
#restartgame{
    background-color: rgb(56, 72, 99); 
    color: white;
  
}
#playergame{
    background-color: rgb(56, 72, 99); 
    color: white;
  
}

#modalTitle{
    font-family: "Arial Black", Gadget, sans-serif;
    color: rgb(94, 122, 171);
    text-align: center;
   
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  }
#close{
    float: top;
    float: right;
    text-align: center;
    padding-bottom: 5%;
}
  #neuro, #gameguide, #howtotrain, #geneticalgospan, #sigmoidal, #reluspan, #softMaxspan, #feedforwardspan, #deepfeedforwardspan{
      color: rgb(56, 72, 99);
      font-weight: bold;
      font-family: "Arial Black", Gadget, sans-serif;
  }
  #recommend{
    color: rgb(56, 72, 99);
    font-weight: bold;
    font-family: "Arial Black", Gadget, sans-serif;
    font-style: italic;
  }

  p{

    color: rgb(56, 72, 99);
    font-size: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
  }
  #selectANN, #stopspan, #versespan, #singlespan {
      font-style: italic;
      font-weight: bold;
  }
.btn-group button {
    
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: rgb(56, 72, 99); 
    color: rgb(56, 72, 99); 

  }
  .btn btn-default navbar-btn{
    background-color: rgb(56, 72, 99); 
    color: rgb(56, 72, 99);
}
  #slogan {
    font-family: "Arial Black", Gadget, sans-serif;
    color: rgb(94, 122, 171);
    padding-top: 1em;
    padding-bottom: 1em;
    font-style: italic;
  }
  #title{
    color: rgb(94, 122, 171);
    font-style: italic;
    padding: 0em;
}
#dropdown {
    background-color: rgb(56, 72, 99);
}
#speeddiv{
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
}

#userGuide{
    color: white;
    background-color:rgb(94, 122, 171);
    
}
#manual{
    padding-right: .5em;
}
body{
    background-color: rgb(34, 70, 128);
}

